html {
    background-color: #f8f8f8;
}

body {
    overflow-y: scroll;
}

h1 {
    text-align: center;
    margin: auto;
}

p {
    text-align: justify ;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

#table-results{
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th{
    text-align: left;
    border-bottom: thin solid black;
    padding-top: 5px;
}

.first-column {
    border-right: thin solid black;
    text-align: center;
}

.second-column {
    padding-left: 5px;
}